*{
    padding: 0;
    margin: 0;
}
.genServices{
    width: 100%;
    height: 165vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0cfaa;
    padding-bottom: 8vh;
}
.genServices #title{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 180%;
    font-weight: 700;
    text-decoration: underline;
}
.alto{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.bajo{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.cardOne{
    width: 25%;
    height: 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 7px groove;
    border-radius: 20px;
}
.ImagesLogo {
    width: 40%;
    height: 30vh;
}
.cardOne h2{
    font-size: 20px;
    height: 10vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}
.cardOne img{
    height: 20vh;
}
.cardOne p{
    width: 80%;
    height: 30vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
    padding-top: 10%;
    font-weight: 500;
}